.body {
  height: 100vh;
}
.siderBody {
  background-color: #090a0a;
  min-width: 20%;
  height: 100vh;
  position: fixed;
  transition: width ease-in 0.2s;
  border-radius: 5px;
  z-index: 100;
  top: 0;
  left: 0;
}
.siderBody-inactive {
  background-color: #090a0a;
  min-width: 5%;
  height: 100vh;
  position: fixed;
  transition: width ease 0.2s;

  z-index: 100;
  top: 0;
  left: 0;
}
ul {
  /* background-color: chocolate; */
  height: 100vh;
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.side-item {
  background-color: transparent;
  margin-top: 43px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 15px;
  padding-left: 0;
  transition: all ease 0.2s;
  list-style-type: none;
  /* background-color: aqua; */
}
.side-item:hover {
  background-color: #1b1b1b;
}
.side-item-inactive {
  background-color: transparent;

  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all ease 0.2s;
}
.side-item span {
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #dc3545;

  transition: all ease 0.75s;
}
.side-item-inactive span {
  font-size: 30px;

  margin-right: 10px;
  text-decoration: none;
  color: #dc3545;
  border-radius: 10px;
  padding: 10px;
  transition: all ease 0.5s;
}
.side-item-inactive span:hover {
  background-color: #1b1b1b;
}
.side-item a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 400;
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity ease 0.2s;
}
.side-item-inactive a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 20px;
  color: transparent;
  font-weight: 400;

  position: absolute;

  display: inline-block;
  line-height: 40px;
  opacity: 0;
  transition: opacity ease 0.2s;
}
.side-btn {
  background-color: transparent;
  height: 80px;
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-btn button {
  background-color: transparent;
  color: aliceblue;
  /* background-color: black; */
  font-size: 30px;
  /* background-color: white; */
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .siderBody-inactive {
    border-radius: 0%;
  }
  .siderBody {
    min-width: 50%;
    border-radius: 0;
  }
  .siderBody-inactive {
    width: 15%;
  }

  .side-item span {
    font-size: 20px;
  }
  .side-item-inactive span {
    font-size: 20px;
  }
  .side-btn {
    margin-left: 10px;
  }
}
